awscli==1.10.23
boto==2.39.0
botocore==1.4.14
colorama==0.3.3
docutils==0.12
filechunkio==1.6
futures==3.0.5
jmespath==0.9.0
mrjob==0.5.2.dev0
numexpr==2.5.2
numpy==1.11.0
pyasn1==0.1.9
python-dateutil==2.5.3
PyYAML==3.11
rsa==3.3
s3transfer==0.0.1
six==1.10.0
tables==3.2.2
